header, nav, main, footer { display: block; }
/* Configures the font and background color of the body of the website*/
body { background-color: #5E07F4;
}
/*Configures the wrapper*/
#wrapper { width: 960px;
           margin: auto;
		   background-color: #37048E;
		   box-shadow: 5px 5px 5px #000000;
}
/* Configures the heading style*/
header { background-repeat: no-repeat;
     background-color: #37048E;
	 background-image: url(../images/logo.gif);
	 color: #06D12D;
	 height: 250px;
	 font-family: Georgia, Times New Roman, serif;
	 font-size: 2em;
     padding-left: 220px;
	 padding-top: 20px;
	 text-shadow: 
	 0px 0px 10px #06D12D,
	 0px 0px 10px #06D12D;
	 margin-bottom: 0;
}

/* Configures the nav links and styles*/
nav { padding-top: 10px;
      float: left;
      width: 200px; 
	  text-shadow:
	  0px 0px 10px #FF8C08,
	  0px 0px 10px #FF8C08;
}
nav ul { list-style-type: none; 
       padding-left: 20px;
	 }
nav li { padding-bottom: 5px;
       font-weight: bold;
}
nav a { text-decoration: none; }
nav a:link { color: #FF8C08; }
nav a:visited{ color: #FFCB08; }
nav a:hover { color: #FFB900; }
nav a:active { background-color: orange;}

/*Configures the styles of the main*/
main { background-color: #000000;
	color: #5106D2;
	font-size: 1.3em;
	text-shadow: 
	0px 0px 10px #5106D2,
	0px 0px 10px #5106D2;
	margin-left: 200px;
	padding: 1px 20px 20px 20px;   
	min-height: 300px
}
/*Configures the footer style*/
footer {
       margin-left: 200px;
       padding: 20px;
       text-align: center;
	   font-size: small;
	   font-style: italic;
}
/*Configures and styles images in website*/
img {
  float: right;
  border: 1px dotted black;
  margin: 0px 0px 15px 20px;
}